<section class="section banner-2">
    <div class="container">
      <div class="banner-1">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h1 class="color-brand-1 mb-20 text-anim">Iori dashboard will help your payments fast and secure</h1>
            <div class="row">
              <div class="col-lg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                <p class="font-md color-grey-500">Social media networks are open to all. Social media is typically used for social interaction and access to news and information, and decision making.</p>
              </div>
            </div>
            <div class="mt-30 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
              <h5 class="color-brand-1">Available on</h5>
            </div>
            <div class="box-button mt-20 wow animate__animated animate__fadeInUp" data-wow-delay=".4s"><a class="btn-app mb-15 hover-up" href="#"><img src="assets/imgs/template/appstore-btn.png" alt="iori"></a><a class="btn-app mb-15 hover-up" href="#"><img src="assets/imgs/template/google-play-btn.png" alt="iori"></a><a class="btn btn-default mb-15 pl-10 font-sm-bold hover-up" href="#">Learn More
                <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg></a></div>
          </div>
          <div class="col-lg-5 d-none d-lg-block wow animate__animated animate__fadeIn"><img src="assets/imgs/page/homepage2/banner.png" alt="iori"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="section">
    <div class="container">
      <div class="box-radius-logo">
        <div class="text-center">
          <p class="font-lg color-brand-1 wow animate__animated animate__fadeInUp">Loved By Developers, Trusted By Enterprises</p>
        </div>
        <div class="mt-30">
          <ul class="list-partners wow animate__animated animate__fadeInUp">
            <li><img src="assets/imgs/page/homepage1/placed.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/cuebiq.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/factual.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/placeiq.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/airmeet.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/spen.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/klippa.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage2/reed.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage2/vuori.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage2/versed.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/matrix.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/klippa.png" alt="iori"></li>
            <li><img src="assets/imgs/page/homepage1/factual.png" alt="iori"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="section mt-100">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-12 text-center">
          <h2 class="color-brand-1 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".0s"> Take your social media marketing<br class="d-none d-lg-block">prowess to the next level</h2>
        </div>
      </div>
      <div class="text-center mt-25 mb-65 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
        <div class="box-social-media">
          <ul class="tabs-plan change-media" role="tablist">
            <li><a class="active" href="#" data-type="personal">Personal</a></li>
            <li><a href="#" data-type="enterprise">Enterprise</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-lg-4 col-md-6 social-media enterprise">
          <div class="card-offer-style-2 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross2.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Cross-Platform</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media enterprise">
          <div class="card-offer-style-2 bg-5 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Social Media</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross2.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Cross-Platform</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 bg-5 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Social Media</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 bg-2 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage2/identity.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Brand Identity</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media enterprise">
          <div class="card-offer-style-2 bg-1 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross4.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Customer Service</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 bg-1 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross4.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Customer Service</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 bg-7 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage1/cross5.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Social advertising</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media enterprise">
          <div class="card-offer-style-2 bg-4 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage2/creation.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Content creation</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 social-media personal">
          <div class="card-offer-style-2 bg-4 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
            <div class="card-offer hover-up">
              <div class="card-image"><img src="assets/imgs/page/homepage2/creation.png" alt="iori"></div>
              <div class="card-info">
                <h4 class="color-brand-1 mb-15">Content creation</h4>
                <p class="font-md color-grey-500 mb-15">Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.</p>
                <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                    <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-100">
    <div class="container">
      <div class="row mt-50 align-items-center">
        <div class="col-lg-6 mb-30">
          <div class="title-line mb-10 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">What We Do, What You Get</div>
          <h2 class="color-brand-1 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">We facilitate the creation of strategy and design</h2>
        </div>
        <div class="col-lg-6 wow animate__animated animate__fadeIn">
          <div class="card-offer card-we-do hover-up">
            <div class="card-image"><img src="assets/imgs/page/homepage2/we-do3.png" alt="iori"></div>
            <div class="card-info">
              <h4 class="color-brand-1 mb-10"><a class="color-brand-1" href="What makes us different from others? We give holistic solutions with strategy, design &amp; technology.">Employee Assessments</a></h4>
              <p class="font-md color-grey-500 mb-5">Your site is not complete with only landings. Get essential inner pages using our ready demos.</p>
              <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow animate__animated animate__fadeIn">
          <div class="card-offer card-we-do hover-up">
            <div class="card-image"><img src="assets/imgs/page/homepage2/we-do.png" alt="iori"></div>
            <div class="card-info">
              <h4 class="color-brand-1 mb-10"><a class="color-brand-1" href="No lag time, no lost effort when priorities change, no email black hole. As team collaboration improves">Smart Installation Tools</a></h4>
              <p class="font-md color-grey-500 mb-5">Your site is not complete with only landings. Get essential inner pages using our ready demos.</p>
              <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow animate__animated animate__fadeIn">
          <div class="card-offer card-we-do hover-up">
            <div class="card-image"><img src="assets/imgs/page/homepage2/we-do4.png" alt="iori"></div>
            <div class="card-info">
              <h4 class="color-brand-1 mb-10"><a class="color-brand-1" href="Share updates instantly within our project management software, and get the entire team collaborating">Collaborative to the core.</a></h4>
              <p class="font-md color-grey-500 mb-5">Your site is not complete with only landings. Get essential inner pages using our ready demos.</p>
              <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow animate__animated animate__fadeIn">
          <div class="card-offer card-we-do hover-up">
            <div class="card-image"><img src="assets/imgs/page/homepage2/we-do2.png" alt="iori"></div>
            <div class="card-info">
              <h4 class="color-brand-1 mb-10"><a class="color-brand-1" href="Seamless importing and round-tripping of Microsoft Project plans, Excel files &amp; CSV files.">Manage budgets and resources</a></h4>
              <p class="font-md color-grey-500 mb-5">Your site is not complete with only landings. Get essential inner pages using our ready demos.</p>
              <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow animate__animated animate__fadeIn">
          <div class="card-offer card-we-do hover-up">
            <div class="card-image"><img src="assets/imgs/page/homepage2/we-do5.png" alt="iori"></div>
            <div class="card-info">
              <h4 class="color-brand-1 mb-10"><a class="color-brand-1" href="What makes us different from others? We give holistic solutions with strategy, design &amp; technology.">Unlimited ways to work</a></h4>
              <p class="font-md color-grey-500 mb-5">Your site is not complete with only landings. Get essential inner pages using our ready demos.</p>
              <div class="box-button-offer"><a class="btn btn-default font-sm-bold pl-0 color-brand-1">Learn More
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-button text-center mt-10 wow animate__animated animate__fadeIn"><a class="btn btn-brand-1 hover-up" href="#">Download App</a><a class="btn btn-default font-sm-bold hover-up" href="#">Learn More
          <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg></a></div>
    </div>
  </section>
  <section class="section mt-100">
    <div class="container">
      <div class="row mt-50 align-items-center">
        <div class="col-lg-6">
          <div class="box-images-project">
            <div class="box-images wow animate__animated animate__fadeIn"><img class="img-main-2" src="assets/imgs/page/homepage2/img2.png" alt="iori">
              <div class="shape-1 image-4"><img src="assets/imgs/page/homepage2/certify.png" alt="iori"></div>
              <div class="shape-2 image-5"><img src="assets/imgs/page/homepage2/fly.png" alt="iori"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="title-line mb-10 wow animate__animated animate__fadeIn">How to start?</div>
          <h2 class="color-brand-1 mb-40 wow animate__animated animate__fadeIn">Bring your target users together on social media</h2>
          <div class="item-number hover-up">
            <div class="num-ele">1</div>
            <div class="info-num">
              <h5 class="color-brand-1 mb-15">Create an account</h5>
              <p class="font-md color-grey-500">What makes us different from others? We give holistic solutions with strategy, design &amp; technology.</p>
            </div>
          </div>
          <div class="item-number hover-up">
            <div class="num-ele">2</div>
            <div class="info-num">
              <h5 class="color-brand-1 mb-15">Build your founding team</h5>
              <p class="font-md color-grey-500">What makes us different from others? We give holistic solutions with strategy, design &amp; technology.</p>
            </div>
          </div>
          <div class="item-number hover-up">
            <div class="num-ele">3</div>
            <div class="info-num">
              <h5 class="color-brand-1 mb-15">Launch and Scale</h5>
              <p class="font-md color-grey-500">What makes us different from others? We give holistic solutions with strategy, design &amp; technology.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-50">
    <div class="container">
      <div class="row mt-50">
        <div class="col-xl-6 col-lg-5">
          <div class="box-images-project">
            <div class="title-line mb-10 wow animate__animated animate__fadeIn">Why choose us?</div>
            <h2 class="color-brand-1 mb-25 wow animate__animated animate__fadeIn">See why we are trusted the world over</h2>
            <p class="color-grey-500 mb-15 wow animate__animated animate__fadeIn">Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level. Apply to our team and see what we can do together. You’re good enough.</p>
            <p class="color-grey-500">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.</p>
            <div class="box-button text-start mt-40 wow animate__animated animate__fadeIn"><a class="btn btn-brand-1 hover-up" href="#">Download App</a><a class="btn btn-default font-sm-bold hover-up" href="#">Learn More
                <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg></a></div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="row pt-40">
            <div class="col-lg-6 col-md-6">
              <div class="cardNumber hasBorder mt-50 wow animate__animated animate__zoomIn" data-wow-delay=".0s">
                <div class="card-head">465k</div>
                <div class="card-description">Social followers</div>
              </div>
              <div class="cardNumber bg-brand-2 wow animate__animated animate__zoomIn" data-wow-delay=".2s">
                <div class="card-head">756+</div>
                <div class="card-description">Project Done</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="cardNumber bg-2 wow animate__animated animate__zoomIn" data-wow-delay=".4s">
                <div class="card-head">5000+</div>
                <div class="card-description">Happy Clients</div>
              </div>
              <div class="cardNumber bg-4 wow animate__animated animate__zoomIn" data-wow-delay=".5s">
                <div class="card-head">100%</div>
                <div class="card-description">Client Satisfaction</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-50 bg-plan-2 pt-110 pb-110">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          <h2 class="color-brand-1 mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s"> Choose The Best Plan</h2>
          <p class="font-lg color-gray-500 wow animate__animated animate__fadeIn" data-wow-delay=".2s"> Pick your plan. Change whenever you want.<br class="d-none d-lg-block">No switching fees between packages</p>
          <ul class="tabs-plan change-price-plan" role="tablist">
            <li class="wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="active" href="#" data-type="monthly">Monthly</a></li>
            <li class="wow animate__animated animate__fadeIn" data-wow-delay=".1s"><a href="#" data-type="yearly">Yearly</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
          <div class="card-plan card-plan-2 hover-up">
            <div class="card-image-plan">
              <div class="icon-plan"><img src="assets/imgs/page/homepage1/free.svg" alt="iori"></div>
              <div class="info-plan">
                <h4 class="color-brand-1">Trial Plan</h4>
                <p class="font-md color-grey-400">Protect for testing</p>
              </div>
            </div>
            <div class="box-day-trial box-trial-two">
              <div class="trial-col-1"><span class="font-lg-bold color-brand-1">FREE</span><span class="font-md color-grey-500">- 30 days trial<br></span><span class="font-xs color-grey-500">No Credit card required</span></div>
              <div class="trial-col-2"><a class="btn btn-brand-1-full hover-up" href="#">Try for free
                  <svg class="w-6 h-6 icon-16 ml-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
            <div class="mt-30 mb-30">
              <ul class="list-ticks list-ticks-2">
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Brand Awareness Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Retargeting Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Contextual, Demographic
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Facebook Advertising
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>Global Certificates
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>Snapchat Advertising
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>TikTok Advertising
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>Advanced List Building
                </li>
              </ul>
            </div>
            <div class="mt-20"><a class="btn btn-default font-sm-bold" href="#">Learn More
                <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".2s">
          <div class="card-plan card-plan-2 hover-up">
            <label class="popular">Popular</label>
            <div class="card-image-plan">
              <div class="icon-plan bg-1"><img src="assets/imgs/page/homepage1/standard.svg" alt="iori"></div>
              <div class="info-plan">
                <h4 class="color-brand-1">Standard</h4>
                <p class="font-md color-grey-400">Advanced project</p>
              </div>
            </div>
            <div class="box-day-trial box-trial-two">
              <div class="trial-col-1"><span class="font-lg-bold color-brand-1 text-price-standard">$29</span><span class="font-md color-grey-500 text-type-standard">- user / month</span><br><span class="font-xs color-grey-500">Billed annually</span></div>
              <div class="trial-col-2"><a class="btn btn-brand-1-full hover-up" href="#">Get Started
                  <svg class="w-6 h-6 icon-16 ml-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
            <div class="mt-30 mb-30">
              <ul class="list-ticks list-ticks-2">
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Brand Awareness Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Retargeting Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Contextual, Demographic
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Facebook Advertising
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Global Certificates
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Snapchat Advertising
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>TikTok Advertising
                </li>
                <li class="mutted">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>Advanced List Building
                </li>
              </ul>
            </div>
            <div class="mt-20"><a class="btn btn-default font-sm-bold" href="#">Learn More
                <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
          <div class="card-plan card-plan-2 hover-up">
            <div class="card-image-plan">
              <div class="icon-plan bg-2"><img src="assets/imgs/page/homepage2/creation.png" alt="iori"></div>
              <div class="info-plan">
                <h4 class="color-brand-1">Enterprise</h4>
                <p class="font-md color-grey-400">Protect for testing</p>
              </div>
            </div>
            <div class="box-day-trial box-trial-two">
              <div class="trial-col-1"><span class="font-lg-bold color-brand-1 text-price-enterprise">$299</span><span class="font-md color-grey-500 text-type-enterprise">- user / month</span><br><span class="font-xs color-grey-500">Billed annually</span></div>
              <div class="trial-col-2"><a class="btn btn-brand-1-full hover-up" href="#">Get Started
                  <svg class="w-6 h-6 icon-16 ml-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
            <div class="mt-30 mb-30">
              <ul class="list-ticks list-ticks-2">
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Brand Awareness Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Retargeting Ads
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Contextual, Demographic
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Facebook Advertising
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Global Certificates
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Snapchat Advertising
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>TikTok Advertising
                </li>
                <li>
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                  </svg>Advanced List Building
                </li>
              </ul>
            </div>
            <div class="mt-20"><a class="btn btn-default font-sm-bold" href="#">Learn More
                <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg></a></div>
          </div>
        </div>
      </div>
      <div class="box-button text-center mt-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="btn btn-brand-1 hover-up" href="#">Contact Us</a><a class="btn btn-default font-sm-bold hover-up" href="#">Compare Plans
          <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg></a></div>
    </div>
  </section>
  <section class="section mt-100 box-testimonial-2">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-4 text-start pt-50">
          <div class="row">
            <div class="col-md-9"><img class="mb-30" src="assets/imgs/page/homepage2/customer.png" alt="iori"></div>
          </div>
          <h2 class="color-brand-1 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">What our custommers are saying</h2>
          <p class="font-lg color-gray-500 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Hear from our users who have saved thousands on their Startup and SaaS solution spend.</p>
          <div class="mt-20"><a class="btn btn-default font-sm-bold pl-0 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">View All
              <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
              </svg></a></div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mb-30 mt-50 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
                <div class="card-testimonial-grid">
                  <div class="box-author mb-10"><a href="#"><img src="assets/imgs/page/homepage1/author.png" alt="iori"></a>
                    <div class="author-info"><a href="#"><span class="font-md-bold color-brand-1 author-name">Guy Hawkins</span></a><span class="font-xs color-grey-500 department">Bank of America</span></div>
                  </div>
                  <p class="font-md color-grey-500">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.</p>
                  <div class="card-bottom-info"><span class="font-xs color-grey-500 date-post">29 November 2022</span>
                    <div class="rating text-end"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"></div>
                  </div>
                </div>
              </div>
              <div class="mb-30 testimonial-warning wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                <div class="card-testimonial-grid">
                  <div class="box-author mb-10"><a href="#"><img src="assets/imgs/page/homepage2/author2.png" alt="iori"></a>
                    <div class="author-info"><a href="#"><span class="font-md-bold color-brand-1 author-name">Guy Hawkins</span></a><span class="font-xs color-grey-500 department">Bank of America</span></div>
                  </div>
                  <p class="font-md color-grey-500">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.</p>
                  <div class="card-bottom-info"><span class="font-xs color-grey-500 date-post">29 November 2022</span>
                    <div class="rating text-end"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="mb-30 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">
                <div class="card-testimonial-grid">
                  <div class="box-author mb-10"><a href="#"><img src="assets/imgs/page/homepage2/author3.png" alt="iori"></a>
                    <div class="author-info"><a href="#"><span class="font-md-bold color-brand-1 author-name">Guy Hawkins</span></a><span class="font-xs color-grey-500 department">Bank of America</span></div>
                  </div>
                  <p class="font-md color-grey-500">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.</p>
                  <div class="card-bottom-info"><span class="font-xs color-grey-500 date-post">29 November 2022</span>
                    <div class="rating text-end"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"></div>
                  </div>
                </div>
              </div>
              <div class="mb-30 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                <div class="card-testimonial-grid">
                  <div class="box-author mb-10"><a href="#"><img src="assets/imgs/page/homepage2/author4.png" alt="iori"></a>
                    <div class="author-info"><a href="#"><span class="font-md-bold color-brand-1 author-name">Guy Hawkins</span></a><span class="font-xs color-grey-500 department">Bank of America</span></div>
                  </div>
                  <p class="font-md color-grey-500">Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.</p>
                  <div class="card-bottom-info"><span class="font-xs color-grey-500 date-post">29 November 2022</span>
                    <div class="rating text-end"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"><img src="assets/imgs/template/icons/star.svg" alt="iori"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-50 pt-50 pb-40">
    <div class="container">
      <div class="box-cover-border">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="img-reveal"><img class="d-block" src="assets/imgs/page/homepage2/img-marketing.png" alt="iori"></div>
          </div>
          <div class="col-lg-6">
            <div class="box-info-video"><span class="btn btn-tag wow animate__animated animate__fadeInUp" data-wow-delay=".0s">Get in touch</span>
              <h2 class="color-brand-1 mt-15 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Want to talk to a marketing expert?</h2>
              <p class="font-md color-grey-500 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.</p>
              <div class="box-button text-start mt-65 wow animate__animated animate__fadeInUp" data-wow-delay=".3s"><a class="btn btn-brand-1 hover-up" href="#">Contact Us</a><a class="btn btn-default font-sm-bold hover-up" href="#">Support Center
                  <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-50">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-8 col-md-8">
          <h2 class="color-brand-1 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".0s">From our blog</h2>
          <p class="font-lg color-gray-500 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">Aenean velit nisl, aliquam eget diam eu, rhoncus tristique dolor.<br class="d-none d-lg-block">Aenean vulputate sodales urna ut vestibulum</p>
        </div>
        <div class="col-lg-4 col-md-4 text-md-end text-start wow animate__animated animate__fadeInUp" data-wow-delay=".4s"><a class="btn btn-default font-sm-bold pl-0">View All
            <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg></a></div>
      </div>
      <div class="row mt-55">
        <div class="col-xl-3 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
          <div class="card-blog-grid card-blog-grid-2 hover-up">
            <div class="card-image img-reveal"><a href="blog-detail.html"><img src="assets/imgs/page/homepage2/news1.png" alt="iori"></a></div>
            <div class="card-info"><a href="blog-detail.html">
                <h6 class="color-brand-1">Easy Ways to Make Money While You Sleep</h6></a>
              <p class="font-sm color-grey-500 mt-20">Fusce dictum ullamcorper dui, id dignissim arcu volutpat vitae. Aenean mattis vestibulum odio eu facilisis. Aenean quam arcu, blandit at aliquet sit amet, convallis nec risus.</p>
              <div class="mt-20 d-flex align-items-center border-top pt-20"><a class="btn btn-border-brand-1 mr-15" href="blog.html">Technology</a><span class="date-post font-xs color-grey-300 mr-15">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                  </svg>29 May 2022</span><span class="time-read font-xs color-grey-300">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>3 mins read</span></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
          <div class="card-blog-grid card-blog-grid-2 hover-up">
            <div class="card-image img-reveal"><a href="blog-detail.html"><img src="assets/imgs/page/homepage2/news2.png" alt="iori"></a></div>
            <div class="card-info"><a href="blog-detail.html">
                <h6 class="color-brand-1">Tiktok video size guide: Everything you need to know</h6></a>
              <p class="font-sm color-grey-500 mt-20">Fusce dictum ullamcorper dui, id dignissim arcu volutpat vitae. Aenean mattis vestibulum odio eu facilisis. Aenean quam arcu, blandit at aliquet sit amet, convallis nec risus.</p>
              <div class="mt-20 d-flex align-items-center border-top pt-20"><a class="btn btn-border-brand-1 mr-15" href="blog.html">Marketting</a><span class="date-post font-xs color-grey-300 mr-15">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                  </svg>29 May 2022</span><span class="time-read font-xs color-grey-300">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>3 mins read</span></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".2s">
          <div class="card-blog-grid card-blog-grid-2 hover-up">
            <div class="card-image img-reveal"><a href="blog-detail.html"><img src="assets/imgs/page/homepage1/news2.png" alt="iori"></a></div>
            <div class="card-info"><a href="blog-detail.html">
                <h6 class="color-brand-1">How to convert video to MP4 for free online</h6></a>
              <p class="font-sm color-grey-500 mt-20">Fusce dictum ullamcorper dui, id dignissim arcu volutpat vitae. Aenean mattis vestibulum odio eu facilisis. Aenean quam arcu, blandit at aliquet sit amet, convallis nec risus.</p>
              <div class="mt-20 d-flex align-items-center border-top pt-20"><a class="btn btn-border-brand-1 mr-15" href="blog.html">Media</a><span class="date-post font-xs color-grey-300 mr-15">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                  </svg>29 May 2022</span><span class="time-read font-xs color-grey-300">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>3 mins read</span></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
          <div class="card-blog-grid card-blog-grid-2 hover-up">
            <div class="card-image img-reveal"><a href="blog-detail.html"><img src="assets/imgs/page/homepage2/news3.png" alt="iori"></a></div>
            <div class="card-info"><a href="blog-detail.html">
                <h6 class="color-brand-1">5 fastest ways to increase search engine rankings</h6></a>
              <p class="font-sm color-grey-500 mt-20">Fusce dictum ullamcorper dui, id dignissim arcu volutpat vitae. Aenean mattis vestibulum odio eu facilisis. Aenean quam arcu, blandit at aliquet sit amet, convallis nec risus.</p>
              <div class="mt-20 d-flex align-items-center border-top pt-20"><a class="btn btn-border-brand-1 mr-15" href="blog.html">SEO</a><span class="date-post font-xs color-grey-300 mr-15">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                  </svg>29 May 2022</span><span class="time-read font-xs color-grey-300">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>3 mins read</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mt-50">
    <div class="container">
      <div class="box-newsletter">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-12">
            <div class="box-image-newsletter">
              <div class="wow animate__animated animate__zoomIn" data-wow-delay=".0s"><img class="img-main" src="assets/imgs/template/newsletter_img.png" alt="iori"></div>
              <div class="shape-2 image-1"><img src="assets/imgs/template/newsletter_finger.png" alt="iori"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12"><span class="font-lg color-brand-1 wow animate__animated animate__fadeIn" data-wow-delay=".0s">Newsletter</span>
            <h2 class="color-brand-1 mb-15 mt-5 wow animate__animated animate__fadeIn" data-wow-delay=".1s">Subcribe our newsletter</h2>
            <p class="font-md color-grey-500 wow animate__animated animate__fadeIn" data-wow-delay=".2s">By clicking the button, you are agreeing with our Term & Conditions</p>
            <div class="form-newsletter mt-30 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
              <form action="#">
                <input type="text" placeholder="Enter you mail ..">
                <button class="btn btn-submit-newsletter" type="submit">
                  <svg class="w-6 h-6 icon-16" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>