<ul>
    <% for(var i=0; i<orders.length; i++) {%>
        <li>
            Description: <%= orders[i].description %>
        </li>
        <li>
            Status: <%= orders[i].status %>
            <br>
            <br>
        </li>
    <% } %>
</ul>